{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Contact {% endblock %}
{% block contenu %}
<h1>Page de contact</h1>
<p>Pour toute question, contactez-nous via ce formulaire.</p>
{% endblock %}
